.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(#464966, #25274d);
  color: #aaabb8;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 30px;
}
.next-button {
  margin-top: 30px;
}
.image{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 100%;
  box-sizing: border-box;
}
.wrong{
  border: 5px solid #e85a4f;
  position: relative;
}
.wrong::after{
  transition: 0.5s;
  opacity: 0;
  content: "ГОТОВЬ ЖОПУ";
  background-color: #e85a4f;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  color: #25274d;
  padding: 5px;
  font-weight: bold;
}

.wrong:hover::after{
  opacity: 1;
}

.correct{
  border: 5px solid #86c232
}


button {
  margin-bottom: 20px;
  padding: 10px 25px;
  border: none;
  font-size: large;
  transition: 0.4s;
  background-color: #29648a;
  color: #aaabb8
}

button:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #fff
}

h2{
color: #86c232
}